# ---
# jupyter:
#   kernelspec:
#     display_name: Python 3
#     language: python
#     name: python3
# ---

# %% [markdown]
# # nodes.{{ module_name }}
#

# %%
#|default_exp {{ module_name }}
#|export_as_func true

# %%
#|top_export
from adi import const

# %%
#|set_func_signature
async def main(ctx, print, in1: str, in2: int) -> {
    "out1": str,
    "out2": int,
}:
    """
    """
    ...

# %% [markdown]
#
# Retrieve input arguments

# %%
from dev_utils import *
run_name = 'default'
set_node_func_args('{{ module_name }}', run_name=run_name)
show_node_vars('{{ module_name }}', run_name=run_name)

# %% [markdown]
#
# # Function body

# %%
#|export
{"exposure_scores": {"dummy": True}}  #|func_return_line
